@page
@model IndexModel
@{
    ViewData["Title"] = "Главная страница";
}

<div class="carousel">
    <div class="slides">
        <img src="/images/slide1.jpg" alt="Слайд 1">
        <img src="/images/slide2.jpg" alt="Слайд 2">
        <img src="/images/slide3.jpg" alt="Слайд 3">
    </div>
</div>

<a href="/Teachers" class="btn btn-primary">Преподаватели</a>

